#modalCliente input {

width:90%;

padding:10px;

margin:5px;

border-radius:8px;

border:1px solid #ccc;

font-size:16px;

}

.dadosRecebedor{

background:#f8f9fa;

border:1px solid #ddd;

border-radius:12px;

padding:18px;

margin:20px 0;

text-align:left;

color:#2c3e50;

}


.dadosRecebedor h3{

margin-top:0;

margin-bottom:12px;

color:#2c3e50;

font-size:18px;

text-align:center;

}

.dadosRecebedor p{

display:flex;

justify-content:space-between;

gap:5px;

margin:50px 0;

font-size:14px;

line-height:1.4;

color:#2c3e50;

}

.dadosRecebedor span{

color:#2c3e50;

}


.dadosRecebedor strong{

color:#555;

min-width:110px;

}

.caixaPix{

background:#fff;

width:92%;

max-width:420px;

max-height:90vh;

overflow-y:auto;

padding:20px;

border-radius:18px;

box-sizing:border-box;

}


